body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;
}

.margin-top {
  padding-top: 100px !important;

  @media screen and (max-width: 600px) {
    padding-top: 80px !important;
  }
}

.choice-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.choice-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35) !important;
}
