
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto; 
  text-align: center;
  box-sizing: content-box;
  
}

.margin-top {
  padding-top: 100px !important;

  @media screen and (max-width: 600px) {
    padding-top: 80px !important;
  }
}



